// General Settings ============/

@mixin star {
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
}

// Display Grid Settings ===============/

@mixin displayGrid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@mixin displayGrid2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

@mixin displayGrid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
}

// Display Flex Stettings ================/

@mixin displayFlex1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// Button Hover Style ===========/

@mixin btnHover{
    background-color: $mainColor;
    color: $secondColor;
    transition: 500ms ease-in-out
}

// Animation Effects ==============/

@mixin animationCircle{
    animation: rotate 6s infinite linear;
}

@mixin animationMove{
    animation: move 12s alternate infinite linear;
}

// Main Style ===================/

@mixin a-tag{
    text-decoration: none;
    color: $mainColor;
    border: 1px solid $mainColor;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 2rem;
    font-family: worksans, Arial, Helvetica, sans-serif;
}

@mixin fontSizeFamily{
    font-size: $fontH5;
    font-family: worksans, Arial, Helvetica, sans-serif;
}

@mixin textStrocke1{
    color: $secondColor;
    text-shadow: 0 0 5px $mainColor;
    // -webkit-text-stroke:2px $mainColor;
}

@mixin textStrocke2{
    color: $mainColor;
    text-shadow: 0 0 5px $secondColor;
    // -webkit-text-stroke:2px $secondColor;
}

@mixin h1Pos{
    padding-top: 3rem;
    line-height: 5.2vw;
    width: 29vw;
}